[Desktop Entry]
Name=Highquality-fy
Type=Application
Exec=highquality-fy %f
Icon=/usr/share/icons/hicolor/scalable/highquality-fy.svg
Comment=Turn your small size pictures into masterpieces
Comment[pt]=Transforme suas imagens pequenas em obras-primas
Comment[es]=Transforme sus imágenes pequeñas en obras maestras
Categories=Graphics;
MimeType=image/bmp;image/gif;image/jpeg;image/jpg;image/pjpeg;image/png;image/tiff;image/x-bmp;image/x-png;image/x-portable-anymap;image/x-portable-bitmap;image/x-portable-pixmap;image/x-xbitmap;image/x-xpixmap;image/x-pcx;
Terminal=false
